# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
Tewks.Simon.sdf

Release/
obj/
ipch/
debug/
DTAR_08E86330_4835_4B5C_9E5A_61F37AE1A077_DTAR/
Tewks.Simon/bin
Tewks.Simon/obj
Tewks.Simon.Domain/bin
Tewks.Simon.Domain/obj
remote-wiring/
